@model IEnumerable<BuildingManagement.Models.Building>
@{
	ViewBag.Title = "Property Catalog";
}
<h2>Index</h2>
<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th></th>
		<th class="building-container__sort-column" data-js-sort-column="Name">
			@if (ViewBag.SortColumn == "Name") {
				if (ViewBag.Descending) {
					<span class="glyphicon glyphicon-arrow-up"></span>
				} else {
					<span class="glyphicon glyphicon-arrow-down"></span>
				}
			}
			@Html.ActionLink("Name", "Index", new { sortColumn = "Name", descending = !ViewBag.Descending })
		</th>
		<th>
			@Html.DisplayNameFor(model => model.NumberOfFloors)
		</th>
		<th class="building-container__sort-column" data-js-sort-column="YearOfConstruction">
			@if (ViewBag.SortColumn == "YearOfConstruction") {
				if (ViewBag.Descending) {
					<span class="glyphicon glyphicon-arrow-up"></span>
				} else {
					<span class="glyphicon glyphicon-arrow-down"></span>
				}
			}
			@Html.ActionLink("Year Of Construction", "Index", new { sortColumn = "YearOfConstruction", descending = !ViewBag.Descending })
		</th>
		<th>
			@Html.DisplayNameFor(model => model.City)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ZipCode)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Address)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.BuildingToTenants)
		</th>
		<th></th>
	</tr>
	@foreach (var item in Model) {
		<tr>
			<td>
				@if (!string.IsNullOrEmpty(item.Image)) {
					<img src="@Path.Combine("/images/upload", $"{item.Image}")" class="building-container__image img-thumbnail" />
				} else {
					<img src="~/images/no-thumb.png" class="building-container__image img-thumbnail" />
				}
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.NumberOfFloors)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.YearOfConstruction)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.City)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ZipCode)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Address)
			</td>
			<td>
				<ul class="list-unstyled">
					@foreach (var tenant in item.BuildingToTenants) {
						<li>@tenant.Tenant.Name</li>
					}
				</ul>
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
				@Html.ActionLink("Details", "Details", new { id = item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Id })
			</td>
		</tr>
	}
</table>